@import (reference) "../../defaultStyles.less";

.button {
  font: 17px "Officina Serif", serif;
  width: 100px;
  height: 40px;
  color: #193996;
  border-radius: 15px;
  background: #b3d6ff linear-gradient(to top, #e6f2ff, #b3d6ff);
  text-align: center;
  line-height: 40px;
  box-shadow: 0 2px 4px #282828;

  &:hover, &:focus {
    outline: none;
    background: #b3d6ff linear-gradient(to bottom, #e6f2ff, #b3d6ff);
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    background: #fff;
    box-shadow: none;
    border: 2px solid #ccc;
    color: #cccc;
    border-radius: 30px;

    &:hover {
      cursor: not-allowed;
    }
  }
}
