@import (reference) "../../defaultStyles.less";

canvas {
  margin: 40px auto 30px;
  width: 800px !important;
  height: 400px !important;
}

.filter-block {
  margin: 50px auto 0;

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  font: @simple-font;
}

.filter {
  display: flex;
  flex-direction: column;
}

.big {
  margin: 0 20px;
  width: 200px;
}

.text-input {
  padding: 5px;
  margin-top: 10px;

  width: 150px;

  font: 15px "PT Sans", serif;
  border-color: #ccc;
}

.inner-menu {
  margin: 50px auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.tabs {
  margin-bottom: 30px;
}

.tab {
  display: inline-block;
  width: 150px;
  height: 40px;

  font: @simple-font;
  color: @black;
  text-align: center;
  line-height: 40px;

  box-shadow: 0 3px 0 0 #dedede, 0 4px 0 0 #bfbfbf, 0 4px 6px 0 rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 3px 0 0 #dedede, 0 4px 0 0 #bfbfbf, 0 4px 6px 0 rgba(0, 0, 0, .5);

  &:hover {
    color: @blue;
    cursor: pointer;
  }

  &:first-child {
     border-radius: 19px 0 0 19px;
   }

  &:last-child {
    border-radius: 0 19px 19px 0;
  }

  &.active {
    color: white;
    background-color: @blue;
    box-shadow: 0 1px 0 0 #000099, 0 2px 0 0 #0e2058;
    -webkit-box-shadow: 0 1px 0 0 #000099, 0 2px 0 0 #0e2058;
  }
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
}

.table-balance,
.table-status {
  border: 1px solid #ccc;
  border-radius: 6px;
  border-collapse: collapse;
  font: @simple-font;

  & .row {

    &:hover {
      background: @lightGrey;
      cursor: pointer;
      transition: all .1s ease-in-out;
    }

    &.selected {
      background: @lightBlue;
      color: @blue;
    }
  }

  & .cell {
    padding: 10px;

    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;

    &:focus {
      outline: none;
    }
  }

  & .head-cell:extend(.table .cell) {
    padding: 10px;
    font-size: 21px;
    color: @blue;
    border-top: none;
  }
}
